body{
    background-color: rgb(92, 94, 96);
    color: white;
}
h1{
    font-size: 60px;
    font-weight: 200;
}
.input{
    height: 50px;
    margin-bottom: 20px;
    width: 300px;
}
.para{
    font-size: 30px;
}
.btn{
    width: 200px;
    height: 60px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.btn-clear{
    width: 150px;
}
